@import "./variables";

@media (min-width: $minDesktopWidth) {
  .favBar {
    position: initial !important;
    z-index: 0 !important;
    width: auto !important;
    padding-top: $mobileHeaderHeight;
    grid-area: sidebar !important;
    position: initial !important;
    overflow: visible !important;
  }
}

.favBar {
  background-color: $favBarColor;
}

.favToggle {
  display: none;
  &:checked + .favBar {
    z-index: 999;
    width: 100vw;
    min-height: 100%;
    position: absolute;
    overflow: hidden;
  }
}

.favBar {
  * {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    white-space: nowrap;
  }

  width: 0vw;
  z-index: 999;
  position: absolute;
  transition: width ease-in-out 0.2s;
  overflow: hidden;
  top: $mobileHeaderHeight;
  background-color: $favBarColor;
  text-align: left;

  * {
    padding: 0;
    margin: 0;
  }

  .favList {
    .title {
      background-color: $threadHeaderColor;
      position: relative;
      .splatIcon {
        position: absolute;
        height: 30px;
        top: 50%;
        left: 25px;
        transform: translate(-50%, -50%);
        display: inline-block;
      }
      span {
        font-weight: bold;
        font-size: 1.5em;
        padding: 15px 5px 15px 5px;
        padding-left: 15px;
      
          display: inline-block;
          margin-left: 30px;
      }
    }

    .favThread {
      cursor: pointer;
      display: block;
      padding: 5px 5px 5px 35px;
      font-size: 1em;
      transition: all ease-in-out 0.2s;
      &:hover {
        background-color: rgba(255, 255, 255, 0.733);
      }
      a {
        text-decoration: none;
        color: inherit;
      }
    }

    .favForum {
      > span {
        position: relative;
        display: block;
        margin-top: 5px;
        padding: 1px 5px 1px 15px;
        font-size: 1em;
        font-weight: bold;
        cursor: pointer;
        transition: all ease-in-out 0.2s;
        &:hover {
          background-color: rgba(255, 255, 255, 0.733);
        }

        .forumTitle {
          display: block;
          position: absolute;
          top: 50%;
          transform: translate(25px, -50%);
        }

        .dropDown {
          display: inline-block;
          transform: rotate(0deg);
          transition: transform ease-in-out 0.2s;
        }

        .dropDown.active {
          transform: rotate(90deg);
        }
      }
      div {
        overflow: hidden;
        transition: height ease-in-out 0.2s;
      }

      .favThread {
        cursor: pointer;
        display: block;
        padding: 5px 5px 5px 35px;
        font-size: 1em;
        transition: all ease-in-out 0.2s;
        &:hover {
          background-color: rgba(255, 255, 255, 0.733);
        }

        a {
          text-decoration: none;
          color: inherit;
        }
      }
    }
  }
}
