@import "./variables";

@media (min-width: $minDesktopWidth) {
  .favBar {
    position: initial !important;
    z-index: 0 !important;
    width: auto !important;
    padding-top: $mobileHeaderHeight;
    grid-area: sidebar !important;
    position: initial !important;
    overflow: visible !important;
  }
}

.favBar {
  background-color: $favBarColor;
}

.favToggle {
  display: none;
  &:checked + .favBar {
    z-index: 999;
    width: 100vw;
    min-height: 100%;
    position:absolute;
    overflow: visible;
  }
}

.favBar {
  * {
    user-select: none; /* supported by Chrome and Opera */
      -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
  }

  width: 0vw;
  position: absolute;
  transition: width ease-in-out 0.1s;
  overflow: hidden;
  top: $mobileHeaderHeight;
  background-color: $favBarColor;
  text-align: left;

  * {
    padding: 0;
    margin: 0;
  }

  .checkbox {
    display: none;
  }

  

  .favList {
    .title {
      background-color: $threadHeaderColor;
      position: relative;
      .splatIcon {
        display: none;

        @media (min-width: $minDesktopWidth) {
          position: absolute;
          height: 30px;
          top: 45%;
          left: 15px;
          transform: translate(-50%,-50%);
          display: inline-block;

        }
      }
      span {
        display: block;
        height: 35px;
        font-size: 1.5em;
        padding: 5px;
        padding-left: 15px;
        @media (min-width: $minDesktopWidth) {
          display: inline-block;
          margin-left: 25px;
        }
      }
    }

    .checkbox {
      display: none;

      + .favForum span::before {
        content: "\25B6";
        transform: rotate(0deg);

        padding-right: 5px;
        padding-left: 15px;
      }

      &:checked + .favForum span::before {
        content: "\25B6";
        display: inline-block;
        transform: rotate(90deg);
      }

      + .favForum ul {
        max-height: 0;
      }

      &:checked + .favForum ul {
        max-height: 100%;
        background-color: rgba(255, 255, 255, 0.822);
      }
    }
    .favForum {
      span {
        display: block;
        height: 35px;
        padding: 5px;
        margin-top: 5px;
      }
      
      
      list-style-type: none;
      ul {
        overflow: hidden;

        li {
          padding: 5px;
          padding-left: 15px;
          font-size: 1.2em;
          cursor: pointer;
          transition: ease-in-out .2s;
          &:hover {
            background-color: #fffffffa;
          }
        }
      }

      span {
        font-size: 1.1em;
        font-weight: bold;
        cursor: pointer;
        transition: ease-in-out .2s;
        &:hover {
          background-color: #ffffffef;
        }
      }
    }
  }
}


