@import "./variables";
@import "./mixins/contentCard";
@import "./mixins/buttonPreset";
@import "./mixins/statistics";

/* #region forum*/
.forum {
  width: 100%;
  @media (min-width: $minDesktopWidth) {
    width: auto !important;
  }
  @include contentCard($threadHeaderColor, $threadBodyColor);
  transition: ease-in-out 0.2s;

  &:hover {
    box-shadow: 0 0 0 3px $hoverBorder;
  }

  .header .title {
    cursor: pointer;
    transition: 0.2s ease-in-out;
    &:hover {
      color: $highlightedFontColor;
    }
  }

  .body {
    @media (min-width: $minDesktopWidth) {
      & {
        display: flex;
      }

      .shortDescription {
        margin-bottom: 0px;
        margin-right: 25px;
        width: auto !important;
        &::after {
          display: none !important;
        }
      }

      .forumStatistics {
        min-width: 250px !important;
      }
    }

    // display: flex;

    .shortDescription {
      font-style: italic;
      flex-grow: 1;
      text-align: left;

      margin-bottom: 15px;
      width: 100%;
      &::after {
        display: inline-block;
        content: "";
        border-top: 0.1em solid black;
        width: 100%;
      }
    }

    .forumStatistics {
      min-width: 100%;
      @include statistics();
    }
  }

  .wrapperPreview {
    transition: height 500ms ease;

    .postPreviews {
      text-align: left;

      p {
        padding: 10px;
        &:nth-child(even) {
          background-color: $threadHeaderColor;
        }

        &:nth-child(odd) {
          background-color: $threadBodyColor;
        }
      }
    }
  }
}

/* #region forumHeader */

.wrapperButton {
  margin-right: 15px;
  @include buttonContainer($threadHeaderSize);
}

/* #region buttons */
.subscribeButton {
  margin: auto auto;
  z-index: -2;
  @include squaredButton($threadHeaderSize, 0, 0.5);

  &:not(.active) {
    filter: grayscale(100%);
  }

  &:hover {
    filter: grayscale(100%);
    filter: brightness(0);
  }

  &.active {
    filter: grayscale(0%);

    &:hover {
      filter: brightness(2);
    }
  }
}
