@import './variables';

nav {
    background-color: $headerBackgroundColor;
    height: $headerHeight;
    position: sticky;
    top: 0;
    z-index: 999;
    * {
        display: inline-block;
    }
}