@import "./variables";
@import "./mixins/buttonPreset";

nav {
  grid-area: header;
  background-color: $headerBackgroundColor;
  position: relative;

  .wrapperLogo {
    height: $mobileHeaderHeight;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);

    @media (min-width: $minDesktopWidth) {
      height: 250px;
      top: 0;
      left: 175px;
    }

    .websiteLogo {
      height: 100%;
      display: block;
    }
  }

  .searchBar {
      display: none;
  }
  @media (min-width: $minDesktopWidth) {
    .searchBar {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      display: flex;
      flex-direction: row;
      border: 5px solid $buttonColor;
      background-color: $buttonColor;
      border-radius: 15px;
      min-width: 300px;

      input {
        margin: 0;
        padding: 12px 20px;
        width: 300px;
        border: 0;
        border-radius: 10px 0px 0px 10px;
        font-size: 1.1em;
      }
      input,
      input:focus {
        outline: none !important;
        -webkit-appearance: none;
      }

      button {
        margin: 0;
        padding: 0;
        border: none;
        border-radius: 0;
        background: $buttonColor;
        width: 40px;

        &:hover .searchButtonIcon {
          filter: grayscale(100%);
          filter: brightness(0);
        }

        &:active .searchButtonIcon {
        }

        .searchButtonIcon {
          height: 20px;
          transition: filter ease-in-out 0.2s;
        }
      }
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      * {
        display: inherit;
      }
      display: inline;
      float: right;
      padding: 5px;
      height: 1em;
      &.left {
        float: left;
      }
    }

    .favToggleLabel {
      color: white;
      font-size: 2.5em;
      padding: 5px 15px 5px 15px;
      border-radius: 50px;

      transition: ease-out 0.2s;
      &:active {
        transition: ease-in 0s;
        color: grey;
        background-color: $buttonColor;
      }
      user-select: none; /* supported by Chrome and Opera */
      -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
      @media (min-width: $minDesktopWidth) {
        display: none;
      }
    }

    .wrapperButton {
      top: 50%;
        transform: translate(0, 50%);
      margin-right: 0px;
      @include buttonContainer($mobileHeaderHeight * 0.7);

      .headerButton {
        margin: auto auto;
        @include squaredButton($mobileHeaderHeight * 0.5, 0, 0.5);

        &:not(.active) {
          filter: grayscale(100%);
        }

        &:hover {
          filter: grayscale(100%);
          filter: brightness(0);
        }

        &.active {
          filter: grayscale(0%);

          &:hover {
            filter: brightness(2);
          }
        }
      }
    }
  }
}
