@import "./variables";
nav {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: $headerBackgroundColor;
    position: sticky;
    z-index: 999;

    .wrapper-nav-left {
        margin: 50px 50px -75px;
    }

    .wrapper-nav-middle {
        display: flex;
        flex-direction: row;

        .searchBar {
            display: flex;
            flex-direction: row;
            border: solid $buttonColor;
            border-radius: 5px;
            width: 300px;

            input {
                margin: 0;
                padding: 0;
            }

            button {
                margin: 0;
                padding: 0;
                border: none;
                border-radius: 0;
                background: $buttonColor;
                width: 40px;

                .searchButtonIcon {
                    height: 20px;
                }

            }

        }

    }

    .wrapper-nav-right {
        display: flex;
        flex-direction: row;

        * {
            padding: 10px;
        }
    }
}