@import "./variables";
@import "./mixins/buttonPreset";
@import "./notifications";
@import "./profileDropdown";

nav {
  grid-area: header;
  background-color: $headerBackgroundColor;
  position: relative;
  width: 100%;
  z-index: 999;

  .wrapperLogo {
    height: $mobileHeaderHeight * 0.7;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);

    @media (min-width: $minDesktopWidth) {
      height: 200px;
      top: 0;
      left: 215px;
      transform: translate(-50%, 0);
    }

    .websiteLogo {
      height: 100%;
      display: block;
    }
  }

  

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      * {
        display: inherit;
      }
      position: relative;
      display: inline;
      width: 50px;
      float: right;
      padding: 5px;
      @media (min-width: $minDesktopWidth) {
        margin-right: 25px;
      }
      height: $headerHeight;
      &.left {
        float: left;
      }
    }

    .favToggleLabel {
      color: white;
      font-size: 2.5em;
      border-radius: 50px;

      transition: ease-out 0.2s;
      &:active {
        transition: ease-in 0s;
        color: grey;
        background-color: $buttonColor;
      }
      user-select: none; /* supported by Chrome and Opera */
      -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
      @media (min-width: $minDesktopWidth) {
        display: none;
      }
    }

    .buttons {
      position: absolute;
      top: 50%;
      transform: translate(-50%, 50%);
    }

    .wrapperButton {
      position: absolute;
      left: 50%;
      top: 0;
      transform: translate(-50%, 50%);
      @media (min-width: $minDesktopWidth) {
        top: 50%;
        transform: translate(-50%, -60%);
      }

      @include buttonContainer($mobileHeaderHeight * 0.7);

      @media (min-width: $minDesktopWidth) {
        @include buttonContainer($headerHeight * 0.8);
      }

      .headerButton {
        margin: auto auto;
        @include squaredButton($mobileHeaderHeight * 0.5, 0, 0.5);

        @media (min-width: $minDesktopWidth) {
          @include squaredButton($headerHeight * 0.5, 0, 0.5);
        }

        &:not(.active) {
          filter: grayscale(100%);
        }

        &:hover {
          filter: grayscale(100%);
          filter: brightness(0);
        }

        &.active {
          filter: grayscale(0%);

          &:hover {
            filter: brightness(2);
          }
        }
      }
    }
  }
}
