@import "./variables";
@import "./mixins/contentCard";

.notificationList {
  @include contentCard($threadHeaderColor, $threadBodyColor);
  
  .header {
    display: inline-block;
    width: 100%;
    .title {
      font-size: 1.3em !important;
      padding-top: 7px;
      margin: auto auto;

    }
  }

  font-size: 0.8em;
  height: 300px;
  overflow: hidden;
  .body {
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    height: 100%;
    z-index: inherit;
  }
  

  .notification {
    border-bottom: 1px solid black;
    position: relative;
    transition: all ease-in-out 0.2s, height ease-out 500ms;
    overflow: hidden;

    * {
      text-decoration: none;
    }

    .preText {
      text-align: left;
    }

    .title {
      text-align: left;
      color: black;
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: 1.2em;
      font-weight: bold;

      transition: ease-in-out 0.2s;

      &:hover {
        color: $highlightedFontColor;
      }
    }

    .closeIcon {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      border-radius: 25px;
      cursor: pointer;

      transition: ease-in-out 0.2s;

      &:hover {
        background-color: $buttonColor;
        color: white !important;
      }
    }
  }
}

.notificationIndicator {
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  transition: all ease-in-out 0.2s;

  &:not(.visible) {
    visibility: hidden;
    opacity: 0;
  }

  &.visible {
    visibility: visible;
    opacity: 1;
  }

  &:before {
    content: "";
    position: relative;
    display: block;
    width: 300%;
    height: 300%;
    margin-left: -100%;
    margin-top: -100%;
    border-radius: 45px;
    background-color: $buttonColor;
    animation: pulsatingRing 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: $highlightedFontColor;
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    animation: pulsatingCircle 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s
      infinite;
  }
}

@keyframes pulsatingRing {
  0% {
    transform: scale(0.33);
  }
  80%,
  100% {
    opacity: 0;
  }
}

@keyframes pulsatingCircle {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}

.notificationsUnfoldable {
  position: absolute;
  top: 80px;
  right: 50%;
  min-width: 350px;
  transform: translate(5%,0);

  @media (min-width: $minDesktopWidth) {
    top: 120px;
    right: 10px;
  }

  // position: relative;
  transition: height ease-in-out .2s !important;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  overflow: hidden !important;
  border-radius: 5px;
}