
// .profilePicture {
//     position: relative;

//     .frame{
//         height: 100%;
//         position: absolute;
//         z-index: 1;
//     }

//     .image {
//         height: 70%;
//         left: 50%;
//         top: 45%;
//         transform: translate(20%,-45%);
//         position: absolute;
//         z-index: 0;
//     }
// }