@import "./variables";
@import "./mixins/contentCard";

.searchList {

  @include header($threadBodyColor);

  margin: 5px;
  text-decoration: none;
  padding: 10px 50px;
  display: flex;
  flex-direction: row;
  color: inherit;
  justify-content: center;
  align-items: center;
  height: auto;
  min-height: 40px;

  .inner {
    display: flex;
    align-items: flex-start;
    width: 100%;

    .flag {
      //align-self: flex-start;
    }

    .title {
      margin: unset;
      margin-left: 10px;
      //align-self: flex-start;
    }
  }



}