@import './variables';
@import './mixins/contentCard';
@import './mixins/buttonPreset';

.signUp {
  @include contentCard($threadHeaderColor, $threadBodyColor);
  display: block !important;
  background-color: $threadBodyColor;
  label {
    margin: auto;
    padding: 5px;
    font-weight: bold;
    text-align: left;
    display: block;
    width: 100%;
    display: block;
  }

  input,
  textarea {
    margin: 5px auto;
    padding: 5px 0px;
    flex-grow: 1;
    width: 100%;
    resize: none;
    display: block;
  }

  button {
    @include basicButton(
      white,
      $buttonColor,
      $buttonHoverColor,
      $buttonPressedColor
    );

    margin: 25px auto;
    padding: 7px;
    font-weight: bold;
    display: block;
    width: 150px;
    border: none;
    border-radius: 5px;
  }

  .error {
    margin: 15px auto;
  }
}