@import "./variables";
@import "./mixins/contentCard";
@import "./mixins/buttonPreset";
@import "./mixins/statistics";

/* #region forum header */
.forumHeader {
  @include contentCard($threadHeaderColor, $threadBodyColor);
  width: 100%;
  .header {
    margin: auto auto;
    position: relative;
    .title {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      text-align: center !important;
      font-size: .9em;
      width: 100% !important;
      top: 5px;
    }
  }

  .body {
    text-align: justify;
  }

  .wrapperButton {
    position: absolute;
    right: 0;
  }

  .wrapperReturn {
    position: absolute;
    height: $threadHeaderSize;
    width: $threadHeaderSize;
    padding: 5px;
    padding-left: 15px;
    img {
      filter: grayscale(100%) brightness(0%);
      margin: auto;
      height: 60%;
      &:active {
        height: 40%;
      }
      &:hover {
        filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg)
          saturate(600%) contrast(0.8);
      }
      transition: ease-in-out 0.2s;
    }
    

    

    
  }

  .wrapperForm {
    transition: height 500ms ease-in-out;
  }

  .unfoldButton {
    @include basicButton(
      white,
      $buttonColor,
      $buttonHoverColor,
      $buttonPressedColor
    );
    width: 100%;
    height: 25px;

    span {
      font-size: 1em;
      font-weight: bold;
      text-align: center;
      margin: auto auto;
    }
  }

  margin-bottom: 25px;
}
/* #endregion*/

/* #region threads*/
.thread {
  @include contentCard($threadHeaderColor, $threadBodyColor);
  transition: ease-in-out 0.2s;

  &:hover {
    box-shadow: 0 0 0 3px $hoverBorder;
  }

  .header {
    position: relative;
    input {
      border: 1px solid black;
      margin-right: 75px !important;
      flex-grow: 0 !important;
      border-radius: 5px;
      font-size: 1em;
      width: 100%;
      // width: 80%;
    }
    .title {
      cursor: pointer;
      transition: 0.2s ease-in-out;
      overflow: hidden;
      &:hover {
        color: $highlightedFontColor;
      }
    }
  }

  .body {
    @media (min-width: $minDesktopWidth) {
      & {
        display: flex;
      }

      .shortDescription {
        width: 90%;
        margin-bottom: 0px;
        margin-right: 25px;
        width: auto !important;
        overflow-wrap: break-word;
        &::after {
          display: none !important;
        }
      }

      .threadStatistics {
        min-width: 200px !important;
      }
    }

    .shortDescription {
      font-style: italic;
      flex-grow: 1;
      text-align: left;

      margin-bottom: 15px;
      width: 100%;
      &::after {
        display: inline-block;
        content: "";
        border-top: 0.1em solid black;
        width: 100%;
      }

      textArea {
        width: 100%;
        resize: none;
        border: 1px solid black;
        border-radius: 5px;
        padding: 5px;
      }

      .saveChangeButton {
        @include basicButton(
          white,
          $buttonColor,
          $buttonHoverColor,
          $buttonPressedColor
        );

        margin: 10px auto;
        padding: 15px;
        font-weight: bold;
        width: 180px;
        float: right;
        border: none;
        border-radius: 5px;
      }

      .abortButton {
        @include basicButton(white, #ce4d02, #6e4800, orange);

        margin: 10px auto;
        padding: 15px;
        font-weight: bold;
        width: 180px;
        border: none;
        float: right;
        border-radius: 5px;

        &:hover {
          background-color: #6e4800;
        }

        &:active {
          background-color: #3d2800;
        }
      }
    }

    .threadStatistics {
      min-width: 100%;
      @include statistics();
    }
  }

  .wrapperPreview {
    transition: height 500ms ease;

    .postPreviews {
      text-align: left;
      .contribution {
        background-color: transparent;
      }

      .contribution {
        // padding: 10px;
        &:nth-child(even) {
          background-color: $threadHeaderColor;
        }

        &:nth-child(odd) {
          background-color: $threadBodyColor;
        }

        .header {
          padding-top: 15px;
          background-color: transparent;
        }

        .body {
          background-color: transparent;
        }
      }
    }
  }
}

/* #region threadHeader */

.wrapperButton {
  margin-right: 15px;
  @include buttonContainer($threadHeaderSize);
}

/* #region buttons */
.subscribeButton {
  margin: auto auto;
  @include squaredButton($threadHeaderSize, 0, 0.5);

  &:not(.active) {
    filter: grayscale(100%);
  }

  &:hover {
    filter: grayscale(100%);
    filter: brightness(0);
  }

  &.active {
    filter: grayscale(0%);

    &:hover {
      filter: brightness(2);
    }
  }
}
.wrapperEdit{
  position: absolute;
  right: 50px;
  top: -13px;
  
  .editButton {
    margin: auto auto;
    padding-top: 5px;
    @include squaredButton($threadHeaderSize, 2, 0.5);
  }
}


.loadMoreButton {
  @include basicButton(
    white,
    $buttonColor,
    $buttonHoverColor,
    $buttonPressedColor
  );
  width: 100%;
  height: 25px;

  span {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin: auto auto;
  }

  .MuiCircularProgress-colorPrimary {
    color: white !important;
  }

  .MuiCircularProgress-root {
    width: 15px !important;
    height: 15px !important;
    margin-left: 15px;
  }
}
// #endregion

.newThreadForm {
  @include contentCard($threadHeaderColor, $threadBodyColor);
  display: block !important;
  background-color: $threadBodyColor;
  label {
    margin: auto;
    padding: 5px;
    font-weight: bold;
    text-align: left;
    display: block;
    width: 100%;
    display: block;
  }

  input,
  textarea {
    margin: 5px auto;
    padding: 5px 0px;
    flex-grow: 1;
    width: 100%;
    resize: none;
    display: block;
  }

  button {
    @include basicButton(
      white,
      $buttonColor,
      $buttonHoverColor,
      $buttonPressedColor
    );

    margin: 25px auto;
    padding: 15px;
    font-weight: bold;
    display: block;
    width: 100px;
    border: none;
    border-radius: 5px;
  }
}

.progress {
  color: orange;
}
