@import "./variables";
@import "./mixins/contentCard";
@import "./mixins/buttonPreset";
@import "./mixins/statistics";

/* #region threads*/
.thread {
  @include contentCard($threadHeaderColor, $threadBodyColor);
  transition: ease-in-out .2s;

  &:hover {
    box-shadow: 0 0 0 3px $hoverBorder;
    
  }

  .header .title{
    cursor: pointer;
    transition: .2s ease-in-out;
    &:hover {
      color: $highlightedFontColor;
    }
  }

  .body {
    display: flex;

    .shortDescription {
      font-style: italic;
      flex-grow: 1;
      text-align: left;
      margin-right: 25px;
    }

    .threadStatistics {
      min-width: 200px;
      @include statistics();
    }
  }

  .wrapperPreview {
    transition: height 500ms ease;
  
    .postPreviews {
      text-align: left;
    
      p {
        padding: 10px;
        &:nth-child(even) {
          background-color: $threadHeaderColor;
        }
    
        &:nth-child(odd) {
          background-color: $threadBodyColor;
        }
      }
    }
  }
}


/* #region threadHeader */

.wrapperButton {
  margin-right: 15px;
  @include buttonContainer($threadHeaderSize);
}

/* #region buttons */
.subscribeButton {
  margin: auto auto;
  @include squaredButton($threadHeaderSize, 0, .5);

  &:not(.active) {
    filter: grayscale(100%);
  }

  &:hover {
    filter: grayscale(100%);
    filter: brightness(0);
  }

  &.active {
    filter: grayscale(0%);

    &:hover {
      filter: brightness(2);
    }
  }
}

.callButton {
  margin: auto auto;
  @include squaredButton($threadHeaderSize, 2, .5);
}

.loadMoreButton {
  @include basicButton(white, $buttonColor, $buttonHoverColor, $buttonPressedColor);
  width: 100%;
  height: 25px;
  
  span {
    font-size: 1.5em;
    font-weight: bold;
  }
}
// #endregion

.newThreadForm {
  @include contentCard($threadHeaderColor, $threadBodyColor);
  display: block !important;
  background-color: $threadBodyColor;
  label {
    margin: auto;
    padding: 5px;
    font-weight: bold;
    text-align: left;
    display: block;
    width: 100%;
    display: block;
  }

  input,
  textarea {
    margin: 5px auto;
    padding: 5px 0px;
    flex-grow: 1;
    width: 95%;
    resize: none;
    display: block;
  }

  button {
    @include basicButton(white, $buttonColor, $buttonHoverColor, $buttonPressedColor);
    
    margin: 25px auto;
    padding: 15px;
    font-weight: bold;
    display: block;
    width: 100px;
    border: none;
    border-radius: 5px;
  }
}