@import "./variables";
@import "./mixins/contentCard";
@import "./mixins/buttonPreset";

.tokenForm {
  @include contentCard($threadHeaderColor, $threadBodyColor);
  max-width: 800px;

  h2 {
    padding: 5px 0px 5px 15px;
  }

  .body {
    p {
      text-align: left;
      font-size: 1.1em;
    }

    button {
      position: relative;
      padding: 15px;
      font-size: 1.1em;
      border-radius: 5px;
      display: block;
      margin: 15px auto;
      @include basicButton(
        white,
        $buttonColor,
        $buttonHoverColor,
        $buttonPressedColor
      );
      transition: color ease-in-out 0.2s;

      &.isLoading {
        color: $buttonColor;
      }

      &:disabled {
        background-color: grey;
        cursor: default;
        &:hover {
          background-color: grey;
        }
      }
    }

    .loadingCircle {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .MuiCircularProgress-colorPrimary {
        color: white !important;
      }
    }

    .tokenDisplay {
      width: 90%;
      margin: 30px auto;
      padding: 5px 0px 5px 0px;
      font-size: 1.1em;
    }
  }
}
