@import "./variables";

.userList {
  display: block;
  @media (min-width: $minDesktopWidth) {
    display: table;
  }
  width: 80%;
  margin: 0 auto;
  font-size: 1.3em;
  border-radius: 5px;
  overflow: hidden;

  text-align: left;
  @media (min-width: $minDesktopWidth) {
    text-align: center;
  }

  .header {
    display: none;
    @media (min-width: $minDesktopWidth) {
      display: initial;
    }
    border-radius: 5px 0px 0px 5px;
    background-color: green;
  }

  .mobile {
    display: inline-block;
    font-weight: bold;

    @media (min-width: $minDesktopWidth) {
      display: none;
    }
  }

  .row {
    @media (min-width: $minDesktopWidth) {
      display: table-row;
    }
    &:nth-child(even) {
      background-color: $threadHeaderColor;
    }

    &:nth-child(odd) {
      background-color: $threadBodyColor;
    }

    .cell {
      .profilePicture {
    position: relative;

    .frame{
        height: 100%;
        position: absolute;
        z-index: 1;
    }

    .image {
        height: 70%;
        left: 50%;
        top: 45%;
        transform: translate(20%,-45%);
        position: absolute;
        z-index: 0;
    }
}
      display: block;
      input, .value {
        float: right;
        @media (min-width: $minDesktopWidth) {
            float: initial;
        }
      }
      @media (min-width: $minDesktopWidth) {
        display: table-cell;
      }
      vertical-align: middle;
      padding: 5px;
    }

    .head {
      font-weight: bold;
    }
  }

  .profilePicture {
    position: relative;
    left: -50%;
    transform: translate(35%, 0);
    text-align: center;
    height: 60px;
  }
}
