$threadHeaderColor: #bfcde0;
$threadBodyColor: #fefcfd;

$hoverBorder: #fe4716;


$inputBorderColor: #00A8E8;
$buttonColor: #00A8E8;
$buttonHoverColor: #0085b9;
$buttonPressedColor: #054964;

$splashColor: #f038ff;


$backgroundColor: #028090;

$headerBackgroundColor: #05668d;
$headerHeight: 7em;

$favBarWidth: 15em;
$favBarColor: #f0f3bd;
$rightBackgroundColor: #02c39a;


$threadHeaderSize: 40px;

$highlightedFontColor: $hoverBorder;

//contributions variables
$aCFontColor: white;
$aCHoverColor: rgb(255, 255, 255);
$nCFHeaderColor: black;
$nCFBodyColor: #fefcfd;
$dAbuttonColor: #FE4716;
$aCAnswerFontColor: #00A8E8;

