@import "./navBar";
@import "./variables";
@import "./favBar";
@import "./threadList";
@import "./login";
@import "./signUp";
@import "./forumList";
@import "./tokenForm";
@import "./searchBar";
@import "./contributions";
@import "./myProfile";
@import "./userList";
@import "./profilePicture";

.App {
  text-align: center;
  height: 100vh;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;

  grid-template-rows: $mobileHeaderHeight auto;
  grid-template-areas: 
  "header"
  "content";

  @media (min-width: $minDesktopWidth) {

      grid-template-rows: $headerHeight auto;
      grid-template-columns: $favBarWidth 5fr $favBarWidth;
      grid-template-areas:
      "header  header header"
      "sidebar content ."
  }
  // overflow-x: hidden;
}

html,
body {
  overflow-x: hidden;
  height: 100vh;
  background-color: $rightBackgroundColor;
  margin: 0;
  padding: 0;
  * {
    font-family: Arial, Helvetica, sans-serif;
  }
}

.content {
  
  background-image: url("../images/background.svg");
  background-size: 100%;
  background-attachment: fixed;
  background-color: $backgroundColor;
  padding: 2em .5em 0em .5em;
  grid-area: content;
  height: auto;

  @media (min-width: $minDesktopWidth) {
    padding: 2em 3.5em 0em 3.5em;
  }
}

.MuiCircularProgress-colorPrimary {
  color: $highlightedFontColor !important;
}

.MuiAlert-icon {
  z-index: 0 !important;
}