@import "./variables";
@import "./header";
@import "./favBar";
@import "./threadList";

.App {
  text-align: center;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-image: url("../images/background.svg");
  background-attachment: fixed;
  margin: 0;
  background-color: $backgroundColor;
  padding: 0;
  height: 100%;
}

.rightSideBar {
  margin-top: $headerHeight;
  height: 100%;
  width: $favBarWidth;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: $rightBackgroundColor;
}

.content {
  margin-left: $favBarWidth;
  margin-right: $favBarWidth;
  padding-top: 2em;
}
