@import "./navBar";
@import "./variables";
@import "./header";
@import "./favBar";
@import "./threadList";
@import "./login";
@import "./signin";
@import "./forumList";

.App {
  text-align: center;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  background-color: $rightBackgroundColor;
  grid-template-rows: $headerHeight auto;
  grid-template-areas: 
  "header"
  "content";
}

@media (min-width: 1024px) {
  .App {
    grid-template-columns: $favBarWidth 5fr $favBarWidth;
    grid-template-areas: 
    "header  header header"
    "sidebar content ."
  }
}

html,
body {
  height: 100%;
  margin: 0;
  * {
    font-family: Arial, Helvetica, sans-serif;
  }
}

body {
  padding: 0;
  margin: 0;
  // height: 100%;
}

.content {
  background-image: url("../images/background.svg");
  background-attachment: fixed;
  background-color: $backgroundColor;
  padding: 2em 3.5em 0em 3.5em;
  grid-area: content;
}

