:root {
    --HeaderColor: #bfcde0;
    --BodyColor: #fefcfd;
    --buttonColor: #05668d;
    --buttonHoverColor: #0085b9;
    --buttonPressedColor: #054964;
    --inkColor: #f038ff;
    --HeaderSize: 40px;
  }
  
  @media screen and (min-width: 900px) {
    body {
      background-image: url("./background.svg");
      background-attachment: fixed;
      background-color: #028090;
    }

    @media screen and (min-width: 430px) {
      .Sigin,
      .Login{
        display: block;
        background-color: var(--BodyColor);
        border-radius: 5px;
        padding: 0px;
        overflow: hidden;
        border-radius: 5px;
        width: 30%;
        margin: 10% auto;
      }

      .LoginHeader{
        background-color: var(--HeaderColor);
        display: flex;
        height: var(--HeaderSize);
        font-weight: bold;
        font-size: 1.3em;
        cursor: pointer;
      }

      .LoginTitle{
        flex-grow: 1;
        text-align: center;
        margin: 5px auto 5px 5px;
      }

      .LoginLabel{
        margin-left: 25px;
        padding: 5px;
        font-weight: bold;
        text-align: left;
        display: block;
        width: 100%;
        display: block;
      }

      .LoginInput{
        margin: 5px auto;
        padding: 5px;
        flex-grow: 1;
        width: 80%;
        resize: none;
        display: block;
      }

      .LoginButton{
        margin: 25px auto;
        padding: 5px;
        display: block;
        width: 100px;
        border: none;
        border-radius: 5px;
        color: white;
        font-weight: bold;
        cursor: pointer;
        background-color: var(--buttonColor);
        transition: ease-in-out .1s;
      }

      Button:hover {
        background-color: var(--buttonHoverColor);
      }
    
      form button:active {
        background-color: var(--buttonPressedColor);
      }
      
      .errorMessage{
        width:80%;
        margin: 25px auto;
        color: black;
        background-color: lightpink;
      }

    }
  }
  