:root {
  --threadHeaderColor: #bfcde0;
  --threadBodyColor: #fefcfd;
  --buttonColor: #05668d;
  --buttonHoverColor: #0085b9;
  --buttonPressedColor: #054964;
  --inkColor: #f038ff;
  --threadHeaderSize: 40px;
}

/* #region threads*/
.thread {
  display: block;
  background-color: var(--threadBodyColor);
  border-radius: 5px;
  padding: 0px;
  overflow: hidden;
  border-radius: 5px;
  width: 80%;
  margin: 10px auto;

}

.thread p {
  padding: 0;
  margin: 0;
}

/* #region threadHeader */
.threadHeader {
  background-color: var(--threadHeaderColor);
  display: flex;
  /* padding: 15px; */
  height: var(--threadHeaderSize);
  font-weight: bold;
  font-size: 1.3em;
  cursor: pointer;
}

.threadTitle {
  flex-grow: 1;
  text-align: left;
  text-decoration: none;
  color: auto;
  margin: 5px auto 5px 5px;
  color: inherit;
  text-decoration: inherit;
}

.buttonWrapper {
  width: calc(var(--threadHeaderSize)*.8);
  margin-right: 15px;

  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

/* #region subcribeButton */
.subscribeButton {
  margin-left: auto;
  margin: 0px 5px 5px auto;
  width: calc(var(--threadHeaderSize)*.8);
}


.subscribeButton:not(.active){
  filter: brightness(0.5);
  filter: grayscale(100%);
}

.subscribeButton:hover{
  filter: grayscale(100%);
  filter: brightness(0);
}

.subscribeButton:active{
  filter: brightness(50%);
  width: calc(var(--threadHeaderSize)*.7);
}

.subscribeButton.active{
  filter: grayscale(0%);
}

.subscribeButton.active:hover{
  filter: brightness(2);
}

/* #endregion */

/* #region callButton */
.callButton {
  margin: 0px 15px 5px auto;
  width: calc(var(--threadHeaderSize)*.9);
  transition: ease-in-out .1s;
}

.callButton:hover {
    filter: brightness(2);
}

.callButton:active{
    filter: brightness(.5);
    width: calc(var(--threadHeaderSize)*.8);
}

/* #endregion */

/* #endregion */

/* #region threadBody */
.threadBody {
  background-color: var(--threadBodyColor);
  display: flex;
  padding: 15px;
  font-size: 0.8em;
}

.shortDescription {
  font-style: italic;
  flex-grow: 1;
  text-align: left;
  margin-right: 25px;
}


/* #region threadStatistics */
.threadStatistics {
  min-width: 200px;
  display: table;
  text-align: left;
  align-self: flex-start;
}

.threadStatistics .row{
    display: table-row;
}

.threadStatistics .row span {
    display: table-cell;
}
/* #endregion */
/* #endregion */

/* #region postPreviews */
.loadMoreButton {
  background-color: var(--buttonColor);
  color: white;
  width: 100%;
  height: 25px;
  outline: none;
  border: none;
  border-color: var(--buttonColor);
  transition: ease-in-out 0.1s;
  cursor: pointer;
}

.loadMoreButton:hover {
  background-color: var(--buttonHoverColor);
}

.loadMoreButton:active {
  background-color: var(--buttonColor);
}

.loadMoreButton span {
  font-size: 1.5em;
  font-weight: bold;
}

.threadFooter {
  transition: height 500ms ease;
}

.postPreviews {
  text-align: left;
}

.postPreviews p {
    padding: 10px;
}

.postPreviews p:nth-child(even) {
  background-color: var(--threadHeaderColor);
}

.postPreviews p:nth-child(odd) {
  background-color: var(--threadBodyColor);
}
/* #endregion */

/* #region threadForm */
form label {
    margin-left: 25px;
    padding: 5px;
    font-weight: bold;
    text-align: left;
    display: block;
    width: 100%;
    display: block;
}

form input,
form textarea {
    margin: 5px auto;
    padding: 5px;
    flex-grow: 1;
    width: 95%;
    resize: none;
    display: block;
}

form button {
    margin: 25px auto;
    padding: 5px;
    display: block;
    width: 100px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--buttonColor);
    transition: ease-in-out .1s;
}

form button:hover {
    background-color: var(--buttonHoverColor);
}

form button:active {
    background-color: var(--buttonPressedColor);
}

/* #endregion */
/* #endregion */